<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body ng-app="ShoppingListCheckOff">
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- load sample data -->
    <div class="col-md-12">
      <div ng-controller="SampleDataController as sample">
        <button type="button" ng-click="sample.loadSampleData()">Load sample data</button>
      </div>
    </div>

  </div>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-12">
      <h2>Add items</h2>
      <div ng-controller="AddController as itemAdder">
        <input type="text" ng-model="itemAdder.itemName" placeholder="item name" required>
        <input type="text" ng-model="itemAdder.itemQuantity" placeholder="quantity" required>
        <button type="button" ng-click="itemAdder.addItem()">Add item to shopping list</button>
      </div>
    </div>

    <div class="col-md-12" ng-controller="ToBuyController as toBuy">
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in toBuy.items">Buy {{item.quantity}} {{item.name}}
         <button class="btn btn-default" ng-click="toBuy.buyItem($index)">
           <span class="glyphicon glyphicon-ok"></span> Buy
         </button>
       </li>
     </ul>
     <div class="emptyMessage" ng-show="toBuy.items.length === 0">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-12" ng-controller="AlreadyBoughtController as bought">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in bought.items">Bought {{item.quantity}} {{item.name}}
       </li>
     </ul>
     <div class="emptyMessage" ng-show="bought.items.length === 0">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
